<table id="mediatype_page" class="page">
 <tr>

  <td id="mediatype_content" class="left">
   <span class="page_title">All media</span>
   <table style="margin-bottom:15px">
    <tr>
     <td id="page_title" class="data">
      <%= link_to "New mediatype", media_path + "/new" %>
      <span><%= (@mediatypes.count==1) ? @mediatypes.count.to_s + " instance" : @mediatypes.count.to_s + " instances" %></span>
     </td>
     <td class="actions">
      <%= link_to "Discussion", talk_media_path("a") %>
     </td>
    </tr>
   </table>
   <div class="canvas" mediatype="mediatype"><%= render :partial => "media/a/mediatypes", :collection => @mediatypes, :as => :mediatype %></div>
  </td>

  <td id="ads" class="right">
   <table class="ad">
    <tr>
     <td>
      <div class="ad_image">
       <div class="dummy_ad">
        <a href="ad.html"><img style="width:55px;height:40px" src="media/kotodama_logo_2.png"/></a>
       </div>
      </div>
     </td>
    </tr>
    <tr>
     <td><a href="ad.html">Want ad space?</a></td>
    </tr>
   </table>
  </td>

 </tr>
</table>
