<%-
 t = (title.nil? ? "" : title.keys[0])
 n = ((defined? title_counter) ? title_counter + 1 : 0)
-%><div id="<%= (t == "") ? "title_stamp" : "view_title_" + n.to_s %>"><%= link_to t, "#", :onmousedown => "lists.views_container.selfunc(this.parentNode)" %><%= link_to t, "#", :id => "title", :onmousedown => "if (event.which===1) stringedit(this,true);return false", :style => "background-color:orange" %><input class="hide" onkeypress="if (event.which===13) {stringedit(this,false);$('view_' + parseFloat(this.parentNode.id.slice(11))).name='editor[views][]['+this.previousSibling.firstChild.data+']'}" onblur="if (this.style.display!=='none') {stringedit(this,false);$('view_' + parseFloat(this.parentNode.id.slice(11))).name='editor[views][]['+this.previousSibling.firstChild.data+']'}" /></div>
