<div class="interface">
 <%= link_to image_tag("kotodama_logo_black.jpg", :alt => "kotoda.ma", :title => "kotoda.ma", :id => 'logo'), root_path %>
 <input id="input" class="help_text" type="text" value="command or search" size="50" onfocus="inputFocus('input','command or search')" onblur="inputBlur('input','command or search')"/><br/>
</div>
