<%-
 view||={}
 view_counter||=0
 n=(view_counter+1).to_s
 unless view=={}
  -%><li class="fill"><%-
 end
-%><textarea class='editor_window' id='<%= (view=={})?"view_stamp":"view_" + n + "' name='mediatype[views][]["+view.keys[0]+"]" %>'><%= view.values[0] %></textarea><%-
 unless view=={}
  -%></li><%-
 end
-%>
